html, body {
	height: 100%;
	font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
}

.sidebar-option-pane {
	float: left;
	margin: 0 50px auto 50px;
	height: 100%;


	.sidebar-header {
	}

	.sidebar-content {

	}


}

#map {
	height: 100%;

}